page-attraction-sub {
  .toolbar-title-md {
    color: #fff;
    font-weight: bold;
  }

  .content {
    background: white !important;
  }

  .back-button.show-back-button {
    background-image: url("../assets/imgs/attract/left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    max-width: 20px;
  }

  .back-button-icon-md {
    display: none !important;
  }

  .item-md {
    border-bottom: 1px solid #ddd !important;
    background: #fff !important;
  }

  .item-md.item-block .item-inner {
    height: auto !important;
  }

  .list-md .item-block .item-inner {
    border: none !important;
  }

  .content-ios {
    background: white !important
  }

  .item-ios {
    background: white !important;
    color: #615c5c !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd !important;
  }

  .back-button-text-ios {
    display: none !important;
  }

  .back-button-icon-ios {
    opacity: 0;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-md {
    padding-bottom: 10px;
  }

  .modal_title {
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: -7rem;
    background: rgba(255, 255, 255, 0.9);
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px  solid #ddd;
    p{
      white-space: normal;
    }
  }
  .modal_share{
    display: flex;
  }
  .sub_share {
    flex: 1;
    text-align: center;
    color: #3d6df7;
    .fa{
      font-size: 3rem;
    }
    p{
      margin: 2px;
      font-size: 1.3rem;
    }
  }
  .modal_content {
    padding: 8rem 1rem 1rem 1rem;
    line-height: 2.5rem;
  }

  .modal_button {
    padding: 20px;
  }
  .modal_top{
    position: relative;
    img {
      height: 20rem;
      width: 100%;
    }
  }
}
