<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Email">
                <div class="list">
                  <label class="item item-input">
                    <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Choose Owner
                    </div>
                    <select ng-model="user.password">
                    <option selected value="306">KEITH EVANS (MULTI)</option>
                    <option value="1155">3113 Sandfiddler LLC</option>
                    <option value="143">3201 S Sandfiddler Road LLC</option>
                    <option value="648">3316 Sandfiddler LLC</option>
                    <option value="71">3352 Sandfiddler LLC</option>
                    <option value="1168">3620 Sandpiper Road LLC</option>
                    <option value="1141">Abadyco LLC</option>
                    <option value="141">Alfred R LaGarde</option>
                    <option value="832">Ali Tabassian</option>
                    <option value="105">Alice Michael Crick</option>
                    <option value="1159">Alisa Roberts</option>
                    <option value="1004">Alpha Omega Properties, LLC</option>
                    <option value="1140">Amber Sloan</option>
                    <option value="993">Daniel Gilroy</option>
                    <option value="69">Darmstadter LLC</option>
                    <option value="318">David B. Dennis</option>
                    <option value="210">David D Burhans</option>
                    <option value="725">David Hoopengardner</option>
                    <option value="744">David Jett</option>
                    <option value="420">David Miller</option>
                    <option value="65">David Wayne Taylor</option>
                    <option value="813">Dean Eric Smith</option>
                    <option value="504">Dean Rutley</option>
                    <option value="1160">Deborah Jeter</option>
                    <option value="274">Deborah L Sullivan</option>
                    <option value="932">Derek Edgar</option>
                    <option value="521">Diane L. Doerner-Banninger</option>
                    <option value="34">Doc Sandbox LLC</option>
                    <option value="308">Doctor's Orders LLC</option>
                    <option value="667">Donald Garlow</option>
                    <option value="89">Donald K Tomlins</option>
                    <option value="1050">Donald Motley</option>
                    <option value="1091">Donna Quick Stewart</option>
                    <option value="114">Doris Cenci</option>
                    <option value="1085">Doris Tabb Warman</option>
                    <option value="1057">Doug Macdonald</option>
                    <option value="476">Drew A Dunn</option>
                    <option value="411">E Burdette Gatten</option>
                    <option value="80">Earl Russell Crouch, Jr.</option>
                    <option value="621">Earle Mulrane</option>
                    <option value="1161">Edmond Lapierre</option>
                    <option value="964">Edward DeWald</option>
                    <option value="1110">Edward Herbert</option>
                    <option value="1116">Edward Nelson</option>
                    <option value="297">Edward S Martin Jr.</option>
                    <option value="178">Edwin J Hayes</option>
                    <option value="999">Eirene Properties, LLC</option>
                    <option value="971">Elizabeth Brubach</option>
                    <option value="623">Judy Marsh</option>
                    <option value="1100">Kamel Ben-Othmane</option>
                    <option value="606">Karen Florence</option>
                    <option value="1126">Karen Mikuszewski</option>
                    <option value="2">Karl A. Barron</option>
                    <option value="443">KDA LLC</option>
                    <option value="947">Keenan Construction LLC</option>
                    <option value="567">Kenneth H Suzuki</option>
                    <option value="287">Kenneth S Barto</option>
                    <option value="1011">Kevin Cahill</option>
                    <option value="901">Kevin Nolan</option>
                    <option value="977">Kevin O'Donohue</option>
                    <option value="140">KGT Rentals LLC</option>
                    <option value="1072">Khushman Patel</option>
                    <option value="875">Kim Magnano</option>
                    <option value="1104">King Solomon Enterprises LLC</option>
                    <option value="819">Kristie R. Fatehi</option>
                    <option value="36">L Carl Floyd</option>
                    <option value="146">Langhorne C Sias</option>
                    <option value="1122">Lara Warner</option>
                    <option value="957">Lee Gause</option>
                    <option value="612">Lesley Balderson</option>
                    <option value="181">Lia Cabral</option>
                    <option value="124">Linda Strickland</option>
                    <option value="1043">Lisa Brown</option>
                    <option value="803">Lisa N. Hagesteary</option>
                    <option value="1166">Lloyd Pabustan</option>
                    <option value="1118">Longshore Investments LLC</option>
                    <option value="304">Lori Delaney</option>
                    <option value="801">Lorraine M Richards</option>
                    <option value="629">Lucky Star 2704 LLC</option>
                               <option value="926">Roger P. Scott</option>
                    <option value="28">Rogers Family Partnership</option>
                    <option value="217">Ronald Dower</option>
                    <option value="1026">Ryan Seriani</option>
                    <option value="568">S.A. DeMartini</option>
                    <option value="1014">Samuel Jones</option>
                    <option value="1030">Samuel McNutt</option>
                    <option value="736">Sand Bend Properties, LLC</option>
                    <option value="889">Sandbridge Home. LLC</option>
                    <option value="874">SandkeySB5 LLC</option>
                    <option value="1121">Sandpiper Dream, LLC</option>
                    <option value="237">Sandpiper Realty LLC</option>
                    <option value="984">Sandra Palkins</option>
                    <option value="909">Sandridge Properties LLC</option>
                    <option value="877">Savona Quay LLC</option>
                    <option value="472">Scott C. Hesaltine</option>
                    <option value="427">Sea Air Ahh LLC</option>
                    <option value="904">Sean Gilland</option>
                    <option value="1167">Self Rentals LLC</option>
                    <option value="837">Sequeira Realty LLC</option>
                    <option value="641">Shawn Patrick Wilson</option>
                    <option value="624">Siebert-Rendezvoue Bay</option>
                    <option value="26">Silversands LLC</option>
                    <option value="130">Sollie W Kellihan</option>
                    <option value="914">Southern Hospitality Rentals, LLC</option>
                    <option value="805">SRRR Virginia Beach, LLC</option>
                    <option value="718">Stanley Parker</option>
                    <option value="167">Stephen Barresi</option>
                    <option value="121">Stephen T Young</option>
                    <option value="903">Steve Spruill</option>
                    <option value="1129">Steven Kiggans</option>
                    <option value="1080">Steven Voss</option>
                    <option value="1034">Stevenson Tran</option>

                  </select>
                  </label>
                </div>
              </my-tab>
              <my-tab title="Phone">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="Phone number" name="user_phone" ng-model="user.phone" required>
                  </label>
                  <label class="item item-input" show-hide-container>

                    <input type="password" placeholder="PIN" name="user_pin" ng-model="user.pin" required valid-pin="user.pin" show-hide-input>
                  </label>
                </div>
              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                Log In
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
