<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648371285185-kmp1u6krbvelmsit003mg4lgu0ercqvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648371285185-kmp1u6krbvelmsit003mg4lgu0ercqvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAhFLm86Y_uaDh7kFWJAtHM4nHMHmO7dtg</string>
	<key>GCM_SENDER_ID</key>
	<string>648371285185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vacation.sieberter</string>
	<key>PROJECT_ID</key>
	<string>siebert-guest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>siebert-guest-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648371285185:ios:38e177c8f6fb0976</string>
	<key>DATABASE_URL</key>
	<string>https://siebert-guest-app.firebaseio.com</string>
</dict>
</plist>