<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Dashboard</span>
  </ion-nav-title>
  <ion-content>
    <style>

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      } .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      .card {
        padding-top: 1px;
        padding-bottom: 1px;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
      }
      .card img{width: 100%}
      .unit-list{overflow: hidden; margin: 10px 0}
    </style>
    <div class="card card-ios"  ng-repeat="unit in units"  ng-click="$storage.current_unit=unit.id"  ui-sref="units.home({UnitID: '{{unit.UnitID}}',UnitName:(unit.UnitName | slugify),id:{{unit.id}}})">
      <pre-img ratio="_1_1" helper-class="square-imaged">
        <img class="category-image" ng-src="{{unit.thumbnail}}" spinner-on-load>
      </pre-img>
      <div class="card-title">{{unit.UnitName}}</div>
      <div class="card-subtitle">- Details -</div>
    </div>

  </ion-content>
</ion-view>
