page-blogpost {
  .content{
    background: white !important;
  }

  .item-md.item-block .item-inner {
    border-bottom: none !important;
    height: auto !important;
  }

  .list-md>.item-block:last-child .item-inner {
    height: auto !important;
  }

  ion-footer {
    background-image: linear-gradient(180deg, #111, #111 50%, transparent 50%);
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 44px;

    .row {
      background: #444444;
      height: 100%;
    }

    a {
      color: #ffffff;
      font-size: 24px;
    }
  }

  .post-head {
    padding-bottom: 0px;
    border-color: transparent;
    overflow: visible;
    white-space: normal;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
  }

  .content-ios {
    background: white !important;
  }

  .post-title {
    font-size: 24px;
    margin-bottom: 4px;
    color: #3E454C;
  }

  .post-content {
    border-color: transparent;

    h2 {
      font-size: 1.6rem;
    }
  }

  .post-text {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .post-tags {
    border-color: transparent;
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .col.col-20 {
    text-align: center;
  }

  .col-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-offset-20 {
    margin-left: 20%;
  }

  .post-content img {
    margin: 10px 0px;
    height: auto;
    width: -webkit-calc(100% + 32px) !important;
    width: calc(100% + 32px) !important;
    margin-left: -16px !important;
  }

  img {
    -webkit-user-drag: none;
    max-width: 110%;
  }

  .post-content .post-text * {
    font-size: inherit !important;
  }
  figure {
    margin: 0px !important;
}
}
