<ion-view class="property-improvements-view">

  <ion-nav-title>
    <span>Property Improvements</span>
  </ion-nav-title>
  <ion-content class="light-bg">

    <div class="row padding-top padding-bottom">
     <h1>Get help from our experts</h1>
      

    </div>
    <ul class="list">

      <div class="item item-divider">Inline Labels</div>

      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>

      <div class="item item-divider">Floating Labels</div>

      <div class="row">
      <textarea placeholder="Description"></textarea>

    </div>


  </ion-content>
</ion-view>
