<ion-view class="property-management-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Property Management</span>
  </ion-nav-title>
  <ion-content class="light-bg">

    <div class="row padding-top padding-bottom">
      <div class="col col-50 text-center" ui-sref="app.property-improvements">
        <i class="padding far fa-building fa-3x"></i>
        <div class="icon-text"> Property<br> Improvements</div>
      </div>
      <div class="col col-50 text-center" ui-sref="app.property-improvements">
        <i class="padding  far fa-list-alt fa-3x"></i>
        <div class="icon-text">Rate<br>Management</div>
      </div>
    </div>

    <div class="row padding-top padding-bottom">
      <div class="col col-50 text-center" ui-sref="app.property-wiki">
        <i class="padding far fa-building fa-3x"></i>
        <div class="icon-text"> Property<br> Wiki</div>
      </div>
      <div class="col col-50 text-center" ui-sref="app.property-improvements">
        <i class="padding  far fa-list-alt fa-3x"></i>
        <div class="icon-text">Programs</div>
      </div>
    </div>
    <div class="row padding-top padding-bottom">
      <div class="col col-50 text-center" ui-sref="app.property-improvements">
        <i class="padding far fa-building fa-3x"></i>
        <div class="icon-text"> Promotions</div>
      </div>

    </div>



  </ion-content>
</ion-view>
