page-setting {
  .toolbar-title-md {
    color: #fff;
    font-weight: bold;
  }
  .content{
    background: white !important;
  }
  .back-button.show-back-button {
    background-image: url("../assets/imgs/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    max-width: 20px;
  }
  .content_tile {
    font-size: 1.4rem;
    border-bottom: solid 1px #eee;
    height: 30px;
    padding-top: 7px;
    padding-left: 10px;
    background: #046580;
    color: #fff;
    // padding: 5px 25px;
  }

  .back-button-icon-md {
    display: none !important;
  }
  .item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: none !important;
    background: #fff !important;
  }
  .item-md.item-block .item-inner {
    // border-bottom: none !important;
    height: auto !important;
    color: rgb(34, 33, 33) !important;
    font-weight: normal !important;
  }

  .list-md > .item-block:last-child .item-inner {
    height: auto !important;
  }
  .settingBtn {
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    height: 40px !important;
    font-size: 1.5rem !important;

  }
  .changeBtn{
    background: #046580;
    width: 80%;
    text-transform: none;
  }
.back-button-text-ios{
      display: none !important;
    }
    .back-button-icon-ios{
      opacity: 0;
    }
    ion-label{
      color: #046580;
    }
}
