<ion-view class="post-view">
  <ion-nav-title>
    <span>{{post.title}}</span>
  </ion-nav-title>
  <ion-content>
    <div class="post-heading item item-text-wrap">
      <h1 class="post-title">{{post.title}}</h1>
      <p class="post-author">
        By <span>{{post.author.nickname}}</span> <span am-time-ago="post.date"></span>
      </p>
    </div>
    <div class="post-content item item-text-wrap" post-content>
      <p class="post-text" dynamic-anchor-fix ng-bind-html="post.content | rawHtml"></p>
    </div>
    <div class="post-tags item item-text-wrap">
      <span class="post-tag button button-small button-outline button-stable" ng-repeat="category in post.categories">{{category.title}}</span>
    </div>
  </ion-content>
  <ion-footer-bar class="post-footer bar bar-footer bar-dark">
    <div class="row">
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-offset-20 col-center">
        <a class="button button-icon icon ion-heart"></a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-android-share-alt" ng-click="sharePost(post.url)"></a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
